@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@font-face {
  font-family: "cervino";
  src: url("/Cervino-ThinNeue.ttf");
}
/****** Hero Section Css start  ******/

.main-sec {
  background-image: url(/Bg.png);
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
.swiper-button-next {
  background-image: url(/Arrow.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  transform: rotate(180deg);
  z-index: 9999 !important;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(/Arrow.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  z-index: 9999 !important;
}
.swiper-button-prev::after {
  display: none;
}
.swiper-button-next,
.swiper-button-prev {
  top: 110% !important;
  z-index: 9999 !important;
}
/****** Hero Section Css End  ******/

